.nav {
    .container {
        .nav-wrapper {
            position: fixed;
            top: 70px;
            height: 50px;
            width: 1140px;
            line-height: 50px;
            background-color: #fff;
            box-shadow: 0 5px 10px #d4d4d4;
    
            .nav-item {
                float: left;
                width: 100px;
                text-align: center;
                font-size: 16px;
                cursor: pointer;
                transition: all .3s;
    
                &:hover {
                    color: #F5A623;
                }
            }
            .line {
                position: absolute;
                bottom: 0;
                left: 0;
                display: inline-block;
                width: 100px;
                border-bottom: 2px solid #F5A623;
                transition: left .3s;
            }
            .top {
                position: absolute;
                right: 0;
                width: 25px;
                height: 25px;
                margin: 10.5px 20px 0 0;
                padding: 2px;
                text-align: center;
                line-height: 25px;
                border: 1px solid #ccc;
                border-radius: 50%;

                &:hover {
                    color: #F5A623;
                    border: 1px solid #F5A623;
                    cursor: pointer;
                }
            }
            .active {
                color: #F5A623;
            }
        }
    }
}